@font-face {
  font-family: "EngineerHand";
  src:
    local("EngineerHand"),
    url("/fonts/EngineerHand-l780.ttf") format("truetype");
}
@font-face {
  font-family: "BrassMono";
  src:
    local("BrassMono"),
    url("/fonts/BrassMonoRegular-d9WLg.ttf") format("truetype");
}

header, footer {
  font-weight: bold;
  font-family: "EngineerHand";
}
article {
  font-family: "BrassMono";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "BrassMono";
  font-weight: bolt;
}


article img {
  height: 250px;
  object-fit: cover;
  box-shadow: 5px 5px 5px;
  border: 1px solid black
}

header {
  top: 0;
  position: sticky;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 1;

  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1rem;

  & a#home {
    font-size: xx-large;
  }  
  &, & a {
    color: var(--pico-primary-inverse);
  }
  & :not(#hero) a, & > a {
    text-decoration: dotted underline;
  }
  & :last-child {
    padding: 0 1rem;
  }
  & div#hero {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  background-color: var(--pico-primary-background);

  
  & div#logo {
    position: relative;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color: var(--pico-primary-inverse);
    mask: url(/assets/img/favicon.svg) no-repeat center / contain;
    -webkit-mask: url(/assets/img/favicon.svg) no-repeat center / contain;
  }
}

.tns-nav-active {
  filter: brightness(150%);
}

footer {
  font-size: small;
}
