@font-face {
  font-family: "EngineerHand";
  src:
    local("EngineerHand"),
    url("/fonts/EngineerHand-l780.ttf") format("truetype");
}
@font-face {
  font-family: "BrassMono";
  src:
    local("BrassMono"),
    url("/fonts/BrassMonoRegular-d9WLg.ttf") format("truetype");
}

header, footer {
  font-weight: bold;
  font-family: "EngineerHand";
}
article {
  font-family: "BrassMono";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "BrassMono";
  font-weight: bold;
}


@media (prefers-color-scheme: dark)  {
  article svg {
    filter: drop-shadow(0 0 5px rgba(255,255,255,0.5)) !important;
  }
}
article img, article svg {
  height: 250px;
  &:is(svg) {
  }
  &:is(img) {
    /* box-shadow: 5px 5px 5px; */
    object-fit: cover;
    border: 1px solid black;
    filter: drop-shadow(5px 5px 5px black);
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}
.card-list > article {
  margin-bottom: 0;
}
.card-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.tns-outer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.tns-controls, .tns-nav {
  width: 100%;
}
.tns-controls {
  display: flex;
  justify-content: right;
  /* transform: translateY(-2.7rem); */
  & :first-child {
    margin-right: auto;
  }
}
.tns-nav {
  display: flex;
  & :first-child {
    margin-left: auto
  }
  & :last-child {
    margin-right: auto;
  }
}

ul.carousel li > div {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  header {
    --header-font-large: large;
    /* --header-font-small:  */
  }
}
@media (min-width: 500px) {
  header {
    --header-font-large: xx-large;
    /* --header-font-small:  */
  }
}
/* TODO: https://threkk.medium.com/how-to-make-a-css-only-hamburger-menu-f7ad41e13399 */
header {
  top: 0;
  position: sticky;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 1;

  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1rem;

  & a#home {
    font-size: var(--header-font-large);
  }  
  &, & a {
    color: var(--pico-primary-inverse);
  }
  & :not(#hero) a, & > a {
    text-decoration: dotted underline;
  }
  & :last-child {
    padding: 0 1rem;
  }
  & div#hero {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  background-color: var(--pico-primary-background);

  
  & div#logo {
    position: relative;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color: var(--pico-primary-inverse);
    mask: url(/assets/img/logo.svg) no-repeat center / contain;
    -webkit-mask: url(/assets/img/logo.svg) no-repeat center / contain;
  }
}

.tns-nav-active {
  filter: brightness(150%);
}

footer {
  font-size: small;
}

section {
  box-shadow: 2px 2px 5px black;
  padding: 1rem;
}